body {
    background-image: url("image/fondo.png");
    background-repeat: no-repeat; /* hace que no se repita la imagen */
    background-attachment: fixed;
    background-size: cover; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display : flex;
    flex-direction: column;
    /* width: 100vw;
    height: 100vh; */
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'Noto Sans TC', sans-serif;
}

header {
    display: flex;
    height: 30vh;
    width: 100vw;
}

#logo {
    width: 346px;
    height: 100px;
}
#pokeball{
    width: 203px;
    height: 120px;
}
.data {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100vw;
}


p {
    margin: 0px;
    font-size: 20px;
}

#orderPokemon {
    width: 151px;
    height: 39px;
    background: rgba(250, 225, 94, 0.91);
    border: 4px solid #1364DE;
    border-radius: 54px;
}


#dataList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* clase que contiene cada tarjeta de los pokemones */
div.all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 30px 50px 0px;
    background: rgba(19, 100, 222, 0.67);
    border-radius: 22px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    height: 10vh;
    width: 50vw;
}

@media screen and (device-width : 414px) and (device-height : 736px){
    header {
        height: 15vh;
        justify-content: center;
    }
    figure {
        display: flex;
    }
    #logo {
        width: 239px;
        height: 83px;
    }
    #pokeball {
        width: 127px;
        height: 79px;
    }
    #orderPokemon{
        margin: 14px;
    }
    div.all-card {
        width: 42%;
        margin: 20px 10px 0px;
    }   
    .all-card img {
        width: 45%;
    }
    .all-card p {
        font-size: 18px;
    }
    
}

/* formato responsive para table */
@media screen and (max-width: 768px) and (min-width: 415px) {
    header {
        height: 13vh;
        justify-content: center;
    }
    #logo {
        width: 288px;
        height: 93px
    }
    #pokeball {
        width: 127px;
        height: 79px;
    }
    div.all-card {
        width: 27%;
        margin: 20px 10px 0px;
    }   
    .all-card img {
        width: 40%;
    }
    .all-card p {
        font-size: 18px;
    }

}

