*{
  padding: 0px;
  margin: 0px;
}
/* Fijamos la imagen de bienvenida y al fondo le agregamos una imagen con animación */
body{
  background-image: url(../src/images/fondos/estrellas3.jpg);
  animation: muv 5s infinite linear alternate;
}
@keyframes muv{
  from{
    background-position: top;
  }
  to{
    background-position: center;
  }
  container{
    display: flex;
    width: 100%;
    height: 600px;
    background: black;
    align-content: center;
  }
}
/* Creamos la primera página */
.pages1{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.welcome-image{
  display: flex;
  padding: 15%;
  background-position: bottom;
  background-size: cover;
  background-image: url(../src/images/fondos/rickymorty1apachurrado.jpg);
  background-position-x: center;
  background-position-y: center;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
.container-welcome{
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
}
h1{
  font-family: "orbitron";
  text-align: justify;
  color: #ffffff;
  text-align: center;
  max-width: 850px;
  width: 100%;
  font-size: 175%;
  margin-top: 20px;
}
.container-enter-button{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 20px;
}
.enter-button{
  background-color: #ffffff;
  color: black;
  padding: 15px 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 40px;
  font-size: 160%;
  font-family: "ORBITRON", sans-serif;
  box-shadow: inset 0px 4px 4px rgba(6, 10, 6, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;/* con overflow:hidden creamos la funcionalidad neón para el botón */
}
.enter-button:hover{
  background: #39ff14;
  box-shadow: 0 0 50px #39ff14;
}
/* Creamos la segunda página que al principio está oculta*/
pages2{
  display: none;
}
/* Creamos los filtros */
.filter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.select-filter{
  font-size: 16px;
  font-family: "ORBITRON", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  line-height: 1.3;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid rgb(30, 187, 56);
  box-shadow: 0 1px 0 1px rgba(12, 221, 23, 0.03);
  border-radius: 0.3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(169, 226, 155);
  background-image: url("../src/images/diseño/flecha.png"),
    linear-gradient(to bottom, #8bb41b 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  overflow: hidden;
}
.select-filter:hover{
  background: #39ff14;
  box-shadow: 0 0 50px #39ff14;
}
/* Le cambiamos la imagen al buscador y le agregamos la sombra neón */
#searchInput{
  background-image: url("../src/images/diseño/lupa.png"),
    linear-gradient(to bottom, #8bb41b 0%, #f7f7f7 100%);
}
#searchInput:hover{
  background: #39ff14;
  box-shadow: 0 0 50px #39ff14;
}
/* Creamos los estilos del contenedor y las cartas */
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  width: 95%;
  height: 80vh;
}
.card{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.card-image{
  height: 200px;
  border-radius: 20px;
  border: solid;
  border-color: #77b649;
}
.card-name{
  font-size: 16px;
  font-family: "ORBITRON", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #77b649;
  margin: 0px;
  border-radius: 5px;
  padding: 5px;
  width: 190px;
}
/* Creamos el scroll del contenedor de los personajes */
/* width */ 
::-webkit-scrollbar{
  width: 20px;
  height: 100px;
}
/* Track */
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #77b649;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb{
  background: #77b649;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #39ff14;
}
/* Creamos modal */
.modal-style{
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modal-style:target{
  opacity: 1;
  pointer-events: auto;
}
.modal-style > div{
  width: 400px;
  position: relative;
  margin: 3% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, rgb(27, 122, 31));
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(59, 177, 30));
  background: -o-linear-gradient(#fff, rgb(15, 228, 68));
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modal-close{
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  font-size: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.modal-close:hover{
  background: #39ff14;
  color: #000000;
}
.modal-image{
  width: 70%;
  padding-top: 25px;
}
h2{
  font-family: "Orbitron";
}
/* Creamos la parte Responsive */
/*formato para Tablet*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait){
  h1{
    font-size: 210%;
    width: 95%;
    padding-top: 10px;
  }
  .enter-button{
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
  }
  .welcome-image{
    padding: 30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }
  .card{
    width: 100px;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 55px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .card-image{
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .card-name{
    width: 150px;
    height: 150px;
  }
  .cardsDinamicContainer{
    width: 30%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .select-filter{
    font-size: 13px;
    margin: 10px;
  }
  .filter{
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .filter-species{
    margin: 10px;
  }
  .filter-origin{
    margin: 10px;
  }
  .filter-az{
    margin: 10px;
  } 
  .modal-style > div{
    margin: 30% auto;
  }
  .modal-close{
    background: #39ff14;
    color: #000000;
    font-size: 40px;
    padding: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
  option{
    font-size: 8px;
    font-weight: bold;
  }
}
/*fin formato tablet*/
/* formato para celular */
@media (max-width: 575.98px) and (orientation: portrait){
  h1{
    font-size: 120%;
    width: 90%;
    padding-top: 10px;
  }
  .enter-button{
    padding: 10px 20px;
    font-size: 100%;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
  }
  .welcome-image{
    padding: 30%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
  }
  .cards-container{
    width: 100%;
    justify-content: center;
    height: 75vh;
  }
  .card{
    width: 50px;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 55px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .card-image{
    width: 130px;
    height: 130px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .card-name{
    width: 140px;
    height: 140px;
  }
  .filter{
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px;
  }
  .select-filter{
    margin: 10px auto;
    font-size: 13px;
  }
  .cardsDinamicContainer{
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
 ::-webkit-scrollbar{
    width: 10px;
  }
  .modal-style > div{
    margin: 30% auto;
    width: 280px;
    padding: 5px 10px 1px 10px;
  }
  h2{
    font-size: 20px;
  }
  .modal-close {
    background: #39ff14;
    color: #000000;
    font-size: 30px;
    padding: 5px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
}
/*fin formato celular*/