*{  
    margin: 0;
    padding: 0;
}
body {
    background-image: url(image/Johto.png); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00ffff;
    margin: 0%;
}
.page-background {
    background-size: cover;
}
.container {
    width: 40%;
    max-width: 850px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 0rem 0rem;
    position: fixed;
    left:0;
    top:0;
    right:0;
    viewport-width:100vw;
    background-color:#EECC17 ;
}
    .header a {
    text-decoration: none;
    }
.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
}
.navigation {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-direction: row;
}
.navigation ul {
    margin: 0%;
    padding: 0;
    list-style: none;
    justify-content: center;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 1rem 4rem;
            transition: all 0.4s linear;
            border-radius: 5px ;
        }
            .navigation ul li a:hover {
                background-color: cyan;    
            }
.introduccion {
    display: block; 
    background-color:#EECC17;
    font-family: 'Righteous', cursive;
    color: #2E2BD0;
    justify-content: space-between;
    text-decoration: none;
}
.pokemon {
    display: block;
    background-color:#2E2BD0;    
    font-family: 'Righteous', cursive;
    color: #EECC17;
    justify-content: space-between;
    text-decoration: none;
}
.topPokemon {
    display: block;
    background-color:#EECC17;
    font-family: 'Righteous', cursive;
    color: #2E2BD0;
    justify-content: space-between;
    text-decoration: none;
}
.main{
    padding-top: 06rem;
}
    .main h1 {
        display: block;    
        margin: auto;
        justify-content: center;
    }  
.btn_initial {
    padding-top: 25rem;
    padding-bottom: 15rem;
    border: 15rem;
    margin: 15rem;
    display: flex;
    flex-direction: column;
}     
.btn_types {
    padding-top: 25rem;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
}

.poketipo {
    position: relative;
    background-image: url(image/poketipo.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border: 0rem;
    background-position: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-size: cover;
    border-radius: 50%;
}  
.links {
    position: relative;
    background-image: url(image/klipartz.com.png);
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    border: 0rem;
    background-position: center;
    align-items: flex-end;
    display: flex;
    background-size: cover;
    border-radius: 50%;
} 
.spacePokeballs{
    display: flex;
    flex-wrap: wrap;
}
.footer {
    font-family: serif;
    padding: 4rem 0;
    text-align: center;
    margin-top: 2rem;
}
@media (max-width:767px){
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
      .navigation ul li {
        display: block;
      }
        .navigation ul li a {
          display: block;
          padding: 0.5rem 0rem;
          transition: all 0.4s linear;
          /* border-radius: 5px; */
        }
          .navigation ul li a:hover {
            background-color: cyan;
          }
}

