* {
    padding: 0px;
    margin: 0px;}

body{
    background-image: url(img/Group.svg);
    background-size: 100%;
    background-repeat: no-repeat;
 }

.flexcontainer{
  height: 650px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.button{
    background: #00b7f8;
    border-bottom: 5px solid #0045a6;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff;
    cursor: pointer;
    display: block;  
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 28px;
    height: 32px;
    margin: 80px auto;
    padding: 20px 20px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 200px;
  }
  .button.one{
    margin-left: 400px;
  }
  .button.two{
    margin-right: 400px;
  }
  .button:hover{
      background: #0096f7;
  }
  .button:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
      border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
      transform: translateY(4px);
    transition: all 0.1s ease 0s;
  }